<!DOCTYPE html>
<html>

<head>
	<title>MotivATR</title>
	<link rel="stylesheet" href="../../main.css">
	<link rel='stylesheet' href='../../float-grid.css' type='text/css'>
</head>

<header><h1 class='center'>MotivATR</h1></header>
<body>
  <div id='introSection' class='center row almostThere'>
	<h2 class ='center'>Almost there! We just need to <a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=22CV92&redirect_uri=https%3A%2F%2Fmotivatr1.herokuapp.com%2Fapi%2Fuser%2FfitbitAuthToken&scope=activity%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight&expires_in=86400000">Authorize Your Fitbit Account</a><h2>
  <div>
	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script src="../../app.js"></script>
</body>

</html>