<!DOCTYPE html>
<html>

<head>
	<title>MotivATR</title>
	<link rel="stylesheet" href="../../main.css">
</head>

<header><h1 class='center'>MotivATR</h1></header>
<body>
	<div>
        <p>Before we can do anything we need to <a href="https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=22CV92&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fapi%2Fuser%2Fhome&scope=activity%20heartrate%20location%20nutrition%20profile%20settings%20sleep%20social%20weight&expires_in=604800">Authorize your FitBit Account</a></p>
    </div>
	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	crossorigin="anonymous"></script>
<script src="../../app.js"></script>
</body>

</html>