<!DOCTYPE html>
<html>

<head>
	<title>MotivATR</title>
	<link rel="stylesheet" href="../../main.css" type='text/css' >
	<link rel='stylesheet' href='../../float-grid.css' type='text/css'>
</head>

<header><h1 class='center'>MotivATR</h1></header>
<body>
	<a href='#'>Logout</a>
	<main role='main'>
	  <div clas='row'>
		<div class = 'sidenav col-4'>
		  <button id = 'barGraph' class='btn'>View Todays Activity</button><br>
		  <button id = 'heartRate' class='btn'>View Todays Heart Rate Breakdown</button><br>
		  <button id = 'currentGoals' class='btn'>View Todays Goal Progress</button><br>
		  <button id = '' class='btn'>Set Goal End Time</button><br>
		  <button id = '' class='btn'>Sign Up MotivATR</button>
		  <div class = 'userGoals'>
			<h3 class ='center'>Goals</h3>
			<ul id='goalsList'>
			</ul>
		  </div>
		</div>
		<div id ='graphs' class ='col-8 hidden'>
		  <canvas id="graphContainer" class='hidden'></canvas>
		</div>
	  </div> 
	</main>
	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="../../app.js"></script>
</body>

</html>