<!DOCTYPE html>
<html>

<head>
	<title>MotivATR</title>
	<link rel="stylesheet" href="../../main.css" type='text/css' >
	<link rel='stylesheet' href='../../float-grid.css' type='text/css'>
</head>

<header><h1 class='center'>MotivATR</h1></header>
<body>
	<main role='main'>
		<div class='row'>
            <button id = 'barGraph'>Bar Graph</button>
			<div id='graphs' class = 'col-8'></div>
			<div class = 'col-4'></div>
		</div>
	</main>
	<script
	src="https://code.jquery.com/jquery-3.2.1.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="../../app.js"></script>
</body>

</html>