*{
    box-sizing:border-box;
    font-family: 'Merriweather', serif;
}

.center{
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.hidden{
    display: none; 
}

body {
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%);
    height: 100vh;
}

body, html{
    margin:0;
    padding:0;
  }

h1{
    font-size:40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.input{
    width: 100%;
    padding: 20px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    border: 1px solid lightgrey;
    outline: 0;
    transition: 0.3s;
    overflow: hidden;
}

.form{
    padding: 10px; 
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
    background-color: grey;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.btn{
    display: block;
    width: 100%; 
    max-width: 400px;
    margin: auto;
    padding: 20px;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    font-size: 16px; 
    font-weight: bold; 
}

.navBtn{
    display: block;
    width: 100%; 
    max-width: 400px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 20px;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    border-radius: 3px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    font-size: 16px; 
    font-weight: bold; 
}

@keyframes NO {
    from, to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    10%, 30%, 50%, 70%, 90% {
      -webkit-transform: translate3d(-10px, 0, 0);
      transform: translate3d(-10px, 0, 0);
    }
  
    20%, 40%, 60%, 80% {
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
    }
  }
  
  @keyframes arrive {
      0% {
          opacity: 0;
          transform: translate3d(0, 50px, 0);
      }
      
      100% {
          opacity: 1;
          transform: translate3d(0, 0, 0);
      }
  }
  
  @keyframes move {
      0% {
          background-position: 0 0
      }
  
      50% {
          background-position: 100% 0
      }
  
      100% {
          background-position: 0 0
      }
  }

#graphs{
    height: 400px;
}

.sidenav {
    height: 100%;
    width: 100%;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(104, 104, 104); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 10px; 
}

canvas{
    border: solid black 1px;
}

#introSection{
    background-size: 100% 100%;
    background-image: url('http://www.stagemilk.com/wp-content/uploads/2017/01/fitness-for-actors.jpg');
    margin-bottom: 20px;
}

.loginHere{
    color:white;
}

.loginHere a{
    color: rgb(126, 178, 255); 
}

.almostThere{
    height: 700px;
}

a{
    color:blue;
}

.content {
    display: none;
    overflow: hidden;
    border: 3px solid black;
}

.error {
    color: red;
    margin-bottom: 5px;
}